.header {
  background: #E7D29D;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15em;
}

.title {
  font-family: 'Roboto';
  font-size: 5em;
  color: #1E4151;
}

.doge_png {
  position: absolute;
  left: 5em;
  height: 15em;
}
